<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Tus compras en Walmart</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Cuentanos tu viaje:</legend>
        Cantidad de departamentos diferentes:
        <input name="variedad" type="number" required>
        <br>
        <br> Total de productos:
        <input name="scan_count" type="number" required>
        <br>
        <br> ¿Regresó al menos un produco?:
        <input name="regreso" type="number" required>
        <br>
        <br>GROCERY:
        <input name="department_description_DSD GROCERY" type="number" required>
        <br>
        <br>FINANCIAL SERVICES:
        <input name="department_description_FINANCIAL SERVICES" type="number" required>
        <br>
        <br>PERSONAL CARE:
        <input name="department_description_PERSONAL CARE" type="number" required>
        <br>
        <br>PHARMACY OTC:
        <input name="department_description_PHARMACY OTC" type="number" required>
        <br>
        <br>GROCERY DRY GOODS:
        <input name="department_description_GROCERY DRY GOODS" type="number" required>
        <br>
        <br>PRODUCE:
        <input name="department_description_PRODUCE" type="number" required>
        <br>
        <br>DAIRY:
        <input name="department_description_DAIRY" type="number" required>
        <br>
        <br>SERVICE DELI:
        <input name="department_description_SERVICE DELI" type="number" required>
        <br>
        <br>IMPULSE MERCHANDISE:
        <input name="department_description_IMPULSE MERCHANDISE" type="number" required>
        <br>
        <br>MENSWEAR:
        <input name="department_description_MENSWEAR" type="number" required>
        <br>
        <br>HOUSEHOLD CHEMICALS/SUPP:
        <input name="department_description_HOUSEHOLD CHEMICALS/SUPP" type="number" required>
        <br>
        <br>PHARMACY RX:
        <input name="department_description_PHARMACY RX" type="number" required>
        <br>
        <br>INFANT CONSUMABLE:
        <input name="department_description_INFANT CONSUMABLE HARDLINES" type="number" required>
        <br>
        <br>BEAUTY:
        <input name="department_description_BEAUTY" type="number" required>
        <br>
        <br>FROZEN FOODS:
        <input name="department_description_FROZEN FOODS" type="number" required>
        <br>
        <br>HOUSEHOLD PAPER GOODS:
        <input name="department_description_HOUSEHOLD PAPER GOODS" type="number" required>
        <br>
        <br>COMM BREAD:
        <input name="department_description_COMM BREAD" type="number" required>
        <br>
        <br>CANDY, TOBACCO, COOKIES:
        <input name="department_description_CANDY, TOBACCO, COOKIES" type="number" required>
        <br>
        <br>MEAT - FRESH & FROZEN:
        <input name="department_description_MEAT - FRESH & FROZEN" type="number" required>
        <br>
        <br>LADIESWEAR:
        <input name="department_description_LADIESWEAR" type="number" required>
        <br>
        <br>PETS AND SUPPLIES:
        <input name="department_description_PETS AND SUPPLIES" type="number" required>
        <br>
        <br>Saturday:
        <input name="weekday_Saturday" type="number" required>
        <br>
        <br>CELEBRATION:
        <input name="department_description_CELEBRATION" type="number" required>
        <br>
        <br>Friday:
        <input name="weekday_Friday" type="number" required>
        <br>
        <br>AUTOMOTIVE:
        <input name="department_description_AUTOMOTIVE" type="number" required>
        <br>
        <br>SHOES:
        <input name="department_description_SHOES" type="number" required>
        <br>
        <br>Sunday:
        <input name="weekday_Sunday" type="number" required>
        <br>
        <br>LIQUOR,WINE,BEER:
        <input name="department_description_LIQUOR,WINE,BEER" type="number" required>
        <br>
        <br>Monday:
        <input name="weekday_Monday" type="number" required>
        <br>
        <br>HOME MANAGEMENT:
        <input name="department_description_HOME MANAGEMENT" type="number" required>
        <br>
        <br>COOK AND DINE:
        <input name="department_description_COOK AND DINE" type="number" required>
        <br>
        <br>OFFICE SUPPLIES:
        <input name="department_description_OFFICE SUPPLIES" type="number" required>
        <br>
        <br>TOYS:
        <input name="department_description_TOYS" type="number" required>
        <br>
        <br>BAKERY:
        <input name="department_description_BAKERY" type="number" required>
        <br>
        <br>Thursday:
        <input name="weekday_Thursday" type="number" required>
        <br>
        <br>Wednesday:
        <input name="weekday_Wednesday" type="number" required>
        <br>
        <br>Tuesday:
        <input name="weekday_Tuesday" type="number" required>
        <br>
        <br>SPORTING GOODS:
        <input name="department_description_SPORTING GOODS" type="number" required>
        <br>
        <br>LAWN AND GARDEN:
        <input name="department_description_LAWN AND GARDEN" type="number" required>
        <br>
        <br>HARDWARE:
        <input name="department_description_HARDWARE" type="number" required>
        <br>
        <br>ELECTRONICS:
        <input name="department_description_ELECTRONICS" type="number" required>
        <br>
        <br>PRE PACKED DELI:
        <input name="department_description_PRE PACKED DELI" type="number" required>
        <br>
        <br>HOME DECOR:
        <input name="department_description_HOME DECOR" type="number" required>
        <br>
        <br>WIRELESS:
        <input name="department_description_WIRELESS" type="number" required>
        <br>
        <br>FABRICS AND CRAFTS:
        <input name="department_description_FABRICS AND CRAFTS" type="number" required>
        <br>
        <br>INFANT APPAREL:
        <input name="department_description_INFANT APPAREL" type="number" required>
        <br>
        <br>BATH AND SHOWER:
        <input name="department_description_BATH AND SHOWER" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Pertenece a categoría:
        <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>